/venv
/.idea
/__pycache__
pyvenv.cfg
Agents/RL_agents/__pycache__/
Environments/LunarLander/__pycache__/
Environments/MultiTaxiEnv/__pycache__/
Environments/SingleTaxiEnv/__pycache__/
Environments/__pycache__/
Transforms/__pycache__/
Transforms/taxi_example_data/all_single_transformed_envs.pkl
Agents/TrainedAgents/trained_models_on_small_taxi_env/
Agents/TrainedAgents/trained_models_on_big_taxi_env/
Transforms/taxi_example_data/small_taxi_transformed_env/
Transforms/taxi_example_data/big_taxi_transformed_env/
results/
Agents/TrainedAgents/results/
